@using Utility
@using WebAppPlayshphere.Models
@model List<Utility.Entity>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Elenco</title>
</head>
<body>
    <h1>Elenco recensioni</h1>
    <h3><a href="/Recensioni/FormAggiungi">Aggiungi recensione</a></h3>

    <br />
    <form method="get" action="/Recensioni/Ricerca">
        <label for="colonna">Cerca per: </label>
        <select name="colonna" id="colonna">
            <option value="utente">Utente</option>
            <option value="valido">Bannato</option>
            <option value="videogioco">Videogioco</option>
        </select>

        <label for="valore">Valore: </label>
        <input type="text" id="valore" name="valore" value="" />

        <button type="submit">Cerca</button>
    </form>

    <br />
    <br />

    @foreach (var f in @Model)
    {
        <p>Recensione da parte di : @(((Recensione)f).Utente.Username), email : @(((Recensione)f).Utente.Email)</p>
        <p>Commento: @(((Recensione)f).Commento)</p>
        <p>Valutazione: @(((Recensione)f).Valutazione)</p>
        <p>Bannato: @(((Recensione)f).Valido ? "Si" : "No")</p>

        <p>
            <a href="/Recensioni/FormModifica/@f.Id">Modifica</a>
            <a href="/Recensioni/Dettagli/@f.Id">Dettagli</a>
        </p>

        <hr />
        <br />
    }
</body>
</html>