@using WebAppPlayshphere.DAO
@using WebAppPlayshphere.Models
@using Utility

@{
    Layout = "_Layout";
}

@{
    Dictionary<string, Entity> BestCategory = DAOVideogioco.GetIstance().BestInCategory();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="/css/Homepage/homepage.css" rel="stylesheet" />
    <title>Pandemonium - Homepage</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center slider-cards">
            <div id="bg1" class="col d-flex justify-content-center align-items-end box active">
                <button class="btn btn-primary btn-flame fw-bold mb-3" onclick="window.location.href='/Videogiochi/Dettagli?id=4'">VAI AL GIOCO</button>
            </div>
            <div id="bg2" class="col-1 d-flex justify-content-center align-items-end box">
                <button class="btn btn-primary btn-flame fw-bold mb-3" onclick="window.location.href='/Videogiochi/Dettagli?id=16'">VAI AL GIOCO</button>
            </div>
            <div id="bg3" class="col-1 d-flex justify-content-center align-items-end box">
                <button class="btn btn-primary btn-flame fw-bold mb-3" onclick="window.location.href='/Videogiochi/Dettagli?id=8'">VAI AL GIOCO</button>

            </div>
            <div id="bg4" class="col-1 d-flex justify-content-center align-items-end box">
                <button class="btn btn-primary btn-flame fw-bold mb-3" onclick="window.location.href='/Videogiochi/Dettagli?id=14'">VAI AL GIOCO</button>

            </div>
            <div id="bg5" class="col-1 d-flex justify-content-center align-items-end box">
                <button class="btn btn-primary btn-flame fw-bold mb-3" onclick="window.location.href='/Videogiochi/Dettagli?id=15'">VAI AL GIOCO</button>

            </div>
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h2>Ultime Uscite</h2>
        <div class="row gy-3" id="catalogo">
                @{

                    foreach(var item in DAOVideogioco.GetIstance().LastRelease())
                    {
                        <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card w-100 bg-dark text-light" onclick="window.location.href='/Videogiochi/Dettagli?id=@(item.Id)'">
                                <div>
                                    <img class="card-img-top" src="~/images/copertine/@(item.Id).png" alt="@(((Videogioco)item).Titolo)">
                                </div>
                                <div class="card-footer d-flex flex-column align-content-center">
                                <h5>@(((Videogioco)item).Titolo.Length > 25 ? (((Videogioco)item).Titolo).Substring(0, 22) + "..." : ((Videogioco)item).Titolo)</h5>
                                    <h6>@(((Videogioco)item).Prezzo) Eur</h6>
                                </div>
                            </div>
                        </div>

                    }

                }
                
        </div>
    </div>
    <div class="container mt-5 mb-5">
        <h2>Preordini</h2>
        <div class="row gy-3" id="catalogo">
            @{

                foreach (var item in DAOVideogioco.GetIstance().Preoders())
                {
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card w-100 bg-dark text-light" onclick="window.location.href='/Videogiochi/Dettagli?id=@(item.Id)'">
                            <div>
                                <img class="card-img-top" src="~/images/copertine/@(item.Id).png" alt="@(((Videogioco)item).Titolo)">
                            </div>
                            <div class="card-footer d-flex flex-column align-content-center">
                                <h5>@(((Videogioco)item).Titolo.Length > 25 ? (((Videogioco)item).Titolo).Substring(0, 22) + "..." : ((Videogioco)item).Titolo)</h5>
                                <h6>@(((Videogioco)item).Prezzo) Eur</h6>
                            </div>
                        </div>
                    </div>

                }

            }

        </div>
    </div>
    <div class="container d-flex mt-5 mb-5 " id="info-company">
        <div class="container rounded-2 px-5 py-5" id="main-box">
            <i class="fa-regular fa-comments mb-2" style="color:#eb5e28ff;"></i>
            <h3>SUPPORTO H24 - 7/7</h3>
            <p>Chat di supporto sempre attiva</p>
        </div>
    </div>
    <div class="container mt-5 mb-5 p-0" id="category-section">
        <h2>Sfoglia per categoria </h2>
        <div class="container text-center p-0">
            <div class="row justify-content-evenly g-3 mt-3">

                @{
                    foreach(var item in BestCategory)
                    {
                        <div class="col-4 category-col p-0">
                            <div class="overlay d-flex justify-content-end align-items-end rounded-3" onclick="window.location.href='/Videogiochi/Categoria?categoria=@(item.Key)'">
                                <h3 class="title-category">@item.Key</h3>
                            </div>
                            <img class="category-img rounded-3" src="~/images/copertine/@(item.Value.Id).png" alt="">
                        </div>
                    }
                }

    </div>
    <script>
                                      document.addEventListener('DOMContentLoaded', function () {
                    var cards = document.querySelectorAll('.box');

                    cards.forEach(function (card) {
                        card.addEventListener('click', function (event) {
                            // Rimuovi la classe 'active' da tutte le card
                            cards.forEach(function (otherCard) {
                                if (otherCard !== card) {
                                    otherCard.classList.remove('active');

                                    if (otherCard.classList.contains('col')) {
                                        otherCard.style.transition = 'all 0.5s ease';
                                        otherCard.classList.replace('col', 'col-1');
                                    }
                                }
                            });

                            // Aggiungi 'active' solo alla card cliccata
                            if (card.classList.contains('col-1')) {
                                card.style.transition = 'all 0.3s ease';
                                card.classList.replace('col-1', 'col');
                                card.classList.add('active');
                            } else if (card.classList.contains('col')) {
                                card.classList.remove('active');
                                card.style.transition = 'all 0.5s ease';
                                card.classList.replace('col', 'col-1');
                            }
                        });
                    });
                });

    </script>
</body>
</html>